<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <title>PRODUTOSTORE</title>
</head>
<body>
    <div class="container mt-sm-3">
        @RenderBody()
    </div>
</body>
</html>